/* Start Variable */
:root {
    --first-color: #222;
    --seconde-color: #00feba;
    --third-color: #5b548a;
    --forth-color: #fff;
    --fifth-color: #222;
    --seven-color: #ebfffc;
    --main-transition: 0.3s;
    --section-padding: 50px;
    --section-padding: 50px;
    /* padding-top: var(--section-padding);
    padding-bottom: var(--section-padding); */
}
/* End Variable */

/* Start Global Rules */
* {
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--first-color);
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}


/* اعملت هاي علشان بدي اللون اللي ورا يملا الشاشة لكن الكونتنت اللي ورا تملا من الاول للاخر */
.container {
    /* كتبنا ال بادنك علشان الكلام في نسخة الموبايل ما يبلش من اول الشاشة */
    padding-left: 15px;
    padding-right: 15px;
    /* علشان الكونتينر يمسك العناصر في النص */
    margin-left: auto;
    margin-right: auto;
}

/* Small screens */
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}

/* Medium screens */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Component */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-flex {
    display: flex;
    align-items: center;
}

.justify-flex {
    display: flex;
    justify-content: center;
}

.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* End Component */

/******************************************************************************************************/

/* Start card */
.container {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, var(--seconde-color), var(--third-color));
    color: var(--forth-color);
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    /* margin: 100px auto 0; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card .search {
    max-width: 100%;
    width: 100%;
    gap: 10px;
}

@media (max-width: 767px) {
    .card .search input {
        width: 50px;
    }
}

.card .search input {
    border: 0;
    outline: 0;
    background-color: var(--seven-color);
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    font-size: 18px;
}

.card .search input::placeholder {
    transition: var(--main-transition);
}

.card .search input:focus::placeholder {
    opacity: 0;
}

.card .search button {
    border: 0;
    outline: 0;
    background-color: var(--seven-color);
    width: 60px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
}

.card .search button img {
    width: 25px;
}

.card .weather {
    display: none;
}

.card .weather img.weather-icon {
    max-width: 100%;
    width: 170px;
    margin-top: 30px;
}

@media (max-width: 767px) {
    .card .weather img.weather-icon {
        width: 100px;
    }
}

.card .weather h1 {
    font-size: 80px;
    font-weight: 800;
}

@media (max-width: 767px) {
    .card .weather h1 {
        font-size: 60px;
    }
}

.card .weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

@media (max-width: 767px) {
    .card .weather h2 {
        font-size: 30px;
    }
}

.card .weather .details {
    margin-top: 50px;
    padding: 0 10px;
}

.card .weather .details .col {
    text-align: left;
    gap: 10px;
}

@media (max-width: 767px) {
    .card .weather .details .col {
        display: block;
        text-align: center;
    }
}

.card .weather .details img {
    max-width: 100%;
    width: 60px;
}


.card .humidity, .card .wind {
    font-size: 28px;
    margin-top: -6px;
}

.error {
    text-align: left;
    font-size: 14px;
    margin: 10px 0 0 10px;
    display: none;
}
/* End card */